<html>
  <head>
    <title>Teste página</title>
    <style>  body {color: black;
                 font-family: Arial, Helvetica;
                 background-color: gray; }
  </style>


  </head>

<body>


<h1>Welcome to your Cookbook</h1>

<p>You currently have in your cookbook:</p>

<ul>
  <% @recipes.each_with_index do |recipe, index| %>
    <li><%= recipe.name %>: <%= recipe.description %> - <a href="/recipes/<%= index %>">Destroy</a></li>
  <% end %>
</ul>

<a href="/new">Add a recipe</a>

</body>

</html>
